* text=auto
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.h text eol=lf
*.rc text eol=lf
*.py text eol=lf
*.ps1 text eol=crlf
*.cmd text eol=crlf
reference/** -text
